/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>


/ {
    behaviors {
        hrm: HomeRow {
            compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        lhr: LHomeRow {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <50>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 53 54 56 57 >; // List of keys on the right side
            hold-trigger-on-release;
        };
        rhr: RHomeRow {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <50>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 50 53 54 56 57 >; // List of keys on the left side
            hold-trigger-on-release;
        };
    };

    macros {
        dhco: deskhop_config {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings =
                <&macro_press   &kp LCTRL>,
                <&macro_press   &kp RSHFT>,
                <&macro_press   &kp C>,
                <&macro_press   &kp O>,
                <&macro_release &kp O &kp C &kp RSHFT &kp LCTRL>
            ;
        };
        dhgm: deskhop_game_mode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings =
                <&macro_press   &kp LCTRL>,
                <&macro_press   &kp RSHFT>,
                <&macro_tap     &kp G>,
                <&macro_release &kp RSHFT>,
                <&macro_release &kp LCTRL>
            ;
        };
        dhsw: deskhop_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings =
                <&macro_press   &kp LCTRL>,
                <&macro_tap     &kp CAPSLOCK>,
                <&macro_release &kp LCTRL>
            ;
        };
        pin: enter_pin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings =
                <&macro_tap     &kp N5>,
                <&macro_tap     &kp N8>,
                <&macro_tap     &kp N7>,
                <&macro_tap     &kp N5>,
                <&macro_tap     &kp N2>,
                <&macro_tap     &kp N1>
            ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        canary {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB   |  W  |  L  |  Y   |  P   |  B   |                   |  Z   |  F    |  O    |  U   |   '   |   -   |
            // |  CTRL  |  C  |  R  |  S   |  T   |  G   |                   |  M   |  N    |  E    |  I   |   A   |   ;   |
            // |  SHIFT |  Q  |  J  |  V   |  D   |  K   |   "["  |  |  "]"  |  X   |  H    |  /    |  ,   |   .   | SHIFT |
            //                      | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC                 &kp N1           &kp N2         &kp N3          &kp N4          &kp N5                          &kp N6      &kp N7          &kp N8          &kp N9          &kp N0          &kp GRAVE
&kp TAB                 &kp W            &kp L          &kp Y           &kp P           &kp B                           &kp Z       &kp F           &kp O           &kp U           &kp SQT         &kp MINUS
&kp LS(LG(LA(LCTRL)))   &lhr LCTRL C     &lhr LALT R    &lhr LGUI S     &lhr LSHFT T    &kp G                           &kp M       &rhr RSHFT N    &rhr RGUI E     &rhr RALT I     &rhr RCTRL A    &kp SEMICOLON
&kp LSHFT               &kp Q            &kp J          &kp V           &kp D           &kp K   &bt BT_NXT  &to 1       &kp X       &kp H           &kp FSLH        &kp COMMA       &kp PERIOD      &kp DEL
                                                &kp LALT      &kp LGUI           &mo 1          &kp SPACE   &kp RET             &mo 2       &kp BSPC        &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            display-name = "CANARY";
        };

        symbol_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |ST_UNL|       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |   &   |   *   |  (   |   )   |   ~   |
            // |       |     |     |      |      |      | EP_TOG |  | EP_ON |  -   |   +   |  "|"  |  =   |   {   |   }   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans      &trans           &trans          &trans          &trans          &trans                                 &bt BT_CLR      &kp N7          &kp N8              &kp N9          &trans           &trans
&trans      &kp LG(A)        &kp LG(X)       &kp LG(C)       &kp LG(V)       &kp LG(Z)                              &mt RBRC LBRC   &kp N4          &kp N5              &kp N6          &mt SLASH LS(N8) &trans
&trans      &kp LEFT_CONTROL &kp LEFT_ALT    &kp LEFT_GUI    &kp LEFT_SHIFT  &kp LG(S)                              &mt RPAR LPAR   &kp N1          &kp N2              &kp N3          &kp LS(EQUAL)    &kp BSLH
&trans      &trans           &trans          &trans          &trans          &trans          &trans       &to 0     &mt RBKT LBKT   &mt STAR PLUS   &kp N0              &mt SLASH MINUS &trans           &kp DEL
                                             &trans          &trans          &trans          &trans       &trans    &trans          &kp BSPC        &kp LS(EQUAL)
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            display-name = "SYMBOL";
        };

        nav_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |        |        |        |        |        |        |                    |   F14  |   F15  |  GAME  |  MUTE  | VOL_UP | VOL_DN |
            // |        |        |        |        |        |        |                    |        |        |        |        |        |        |
            // |        |  CTRL  |  SHIFT |   ALT  |   GUI  |        |                    |        |   <-   |    v   |    ^   |   ->   |        |
            // |        |        |        |        |        |        |        |  |        |        |        |        |        |        |        |
            //                            |        |        |        |        |  |        |        |        |        |

            bindings = <
&kp F1  &kp F2              &kp F3          &kp F4          &kp F5          &kp F6                          &kp F14     &kp F15         &to 3           &kp K_MUTE  &kp K_VOL_DN    &kp K_VOL_UP
&kp F7  &kp F8              &kp F9          &kp F10         &kp F11         &kp F12                         &dhco       &kp LG(LEFT)    &kp LG(DOWN)    &kp LG(UP)  &kp LG(RIGHT)   &trans
&trans  &kp LEFT_CONTROL    &kp LEFT_ALT    &kp LEFT_GUI    &kp LEFT_SHIFT  &trans                          &dhgm       &kp LEFT        &kp DOWN        &kp UP      &kp RIGHT       &trans
&trans  &trans              &trans          &trans          &trans          &trans      &trans    &to 0     &dhsw       &kp LA(LEFT)    &kp LA(DOWN)    &kp LA(UP)  &kp LA(RIGHT)   &trans
                                            &trans          &trans          &trans      &trans    &trans    &trans      &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            display-name = "NAV";
        };

        game_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |        |   1    |   2    |   3    |   4    |   5    |                    |        |        | CANARY |        |        |        |
            // |        |        |   Q    |   W    |   E    |   R    |                    |        |        |        |        |        |        |
            // |        | LSHFT  |   A    |   S    |   D    |   F    |                    |        |        |        |        |        |        |
            // |        | LSHFT  |        |        |        |        |        |  |        |        |        |        |        |        |        |
            //                            |        |        |   C    | SPACE  |  |  ENTER |        |        |        |

            bindings = <
&trans  &kp N1      &kp N2  &kp N3  &kp N4  &kp N5                      &none   &none   &to 0   &none   &none   &none
&trans  &none       &kp Q   &kp W   &kp E   &kp R                       &none   &none   &none   &none   &none   &none
&none   &none       &kp A   &kp S   &kp D   &kp F                       &none   &none   &none   &none   &none   &none
&none   &kp LSHIFT  &none   &none   &none   &none   &none    &none      &none   &none   &none   &none   &none   &none
                            &none   &none   &kp C   &trans   &trans     &none   &none   &none

            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            display-name = "GAME";
        };

        utilies_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |        |        |        |        |        |        |                    | ST_UNL |        |        |        |        |        |
            // |        |        |        |        |        |        |                    |        |        |        |        |        |        |
            // |        |        |        |        |        |        |                    |        |        |        |        |        |        |
            // |        |        |        |        |        |        |                    |        |        |        |        |        |        |
            //                            |        |        |        |        |  |        |        |        |        |

            bindings = <
        
&trans  &trans  &trans  &trans  &trans  &trans                  &studio_unlock  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
                      &trans  &trans  &trans    &trans  &trans    &trans  &trans  &trans
        
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            display-name = "UTILS";
        };

        extra_2 { status = "reserved"; };
    };
};
